*{
    background: #7d7d82;
}
.titulo{
    text-align: center;
    font-size:22px;
}
.fotos li {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
}
.fotos img{
    width:100px;
    height:150px;
}
.fotos li:hover{
    border-color: #0019fd;
}
.fotos li:active{
    border-color: #088c19;
}
.fotos li:hover h2{
    font-size: 35px;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size:22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}




.container {
    display: flex;
	border: 1px solid rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.child{
    width: 30%;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}